@import url('reset.scss');

:root {
  --primary: #333D32;
  --secondary: #44A884;

  --blue: #1B4A6E;
  --blue-light: #3390B1;

  --orange: #D87057;
  --orange-light: #D68E44;

  --brown: #745641;
  --yellow: #EAD581;
}